<div>
    <h2 id="page-heading">
        <span>Pcdefects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pcdefect" [routerLink]="['/pcdefect/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Pcdefect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pcdefects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Defect Id</span></th>
            <th><span>Description</span></th>
            <th><span>System Impacted</span></th>
            <th><span>Date Raised</span></th>
            <th><span>Severity</span></th>
            <th><span>Date Closed</span></th>
            <th><span>Request Id</span></th>
            <th><span>Release Date</span></th>
            <th><span>Comments</span></th>
            <th><span>Root Cause</span></th>
            <th><span>User Id</span></th>
            <th><span>Testedbyamdocs</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pcdefect of pcdefects ;trackBy: trackId">
                <td><a [routerLink]="['/pcdefect', pcdefect.id, 'view' ]">{{pcdefect.id}}</a></td>
                <td>{{pcdefect.defect_id}}</td>
                <td>{{pcdefect.description}}</td>
                <td>{{pcdefect.system_impacted}}</td>
                <td>{{pcdefect.date_raised | date:'mediumDate'}}</td>
                <td>{{pcdefect.severity}}</td>
                <td>{{pcdefect.date_closed | date:'mediumDate'}}</td>
                <td>{{pcdefect.request_id}}</td>
                <td>{{pcdefect.release_date | date:'mediumDate'}}</td>
                <td>{{pcdefect.comments}}</td>
                <td>{{pcdefect.root_cause}}</td>
                <td>{{pcdefect.user_id}}</td>
                <td>{{pcdefect.testedbyamdocs}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pcdefect', pcdefect.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pcdefect', pcdefect.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pcdefect/'+ pcdefect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
