<div class="row">
    <div class="col-12">
        <div class="container">
            <form name="deleteForm" (ngSubmit)="confirmDelete(samplebulk.id)">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
                </div>
                <div class="modal-body">
                    <jhi-alert-error></jhi-alert-error>
                    <p id="jhi-delete-samplebulk-heading" class="form-control-label label-custom">Are you sure, you
                        want to delete this Sample Bulk?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="clear()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button id="jhi-confirm-delete-samplebulk" type="submit" class="btn btn-sm btn-danger">
                        <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>