<div class="row justify-content-center">
    <div class="col-12">
        <div class="container">
            <div *ngIf="dashboard">
                <div class="row">
                    <div class="col-md-12">
                        <h5><span>Dashboard</span> {{dashboard.id}}</h5>
                    </div>
                </div>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-md-3">
                        <dt class="dtc"><span>Reference Number</span></dt>
                        <dd class="ddc">
                            <span>{{dashboard.reference_number}}</span>
                        </dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="dtc"><span>Sla Description</span></dt>
                        <dd class="ddc">
                            <span>{{dashboard.sla_description}}</span>
                        </dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="dtc"><span>Expected</span></dt>
                        <dd class="ddc">
                            <span>{{dashboard.expected}}</span>
                        </dd>
                    </div>
                    <div class="col-md-3">
                        <dt class="dtc"><span>Minimum</span></dt>
                        <dd class="ddc">
                            <span>{{dashboard.minimum}}</span>
                        </dd>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <dt class="dtc"><span>Sla Complaince</span></dt>
                        <dd class="ddc">
                            <span>{{dashboard.sla_complaince}}</span>
                        </dd>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" (click)="previousState()" class="btn btn-sm btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                        </button>
                        <button type="button" [routerLink]="['/dashboard', dashboard.id, 'edit']" class="btn btn-sm btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>