<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-holidays-heading">Create or edit a Holidays</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!holidays.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="holidays.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_holiday_date">Holiday Date</label>
                    <div class="input-group">
                        <input id="field_holiday_date" type="text" class="form-control" name="holiday_date" ngbDatepicker  #holiday_dateDp="ngbDatepicker" [(ngModel)]="holidays.holiday_date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="holiday_dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
